#main-div {
    margin: 10px;
}

.file-input-container {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
    color: black;
    background-color: #eeeeee;
    border-radius: 7px;
    padding: 3px;
    max-width: 270px;
}
  
.file-button {
    background-color: white;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #d7dce3;
}

.file-name {
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

input[type="file"] {
    display: none;
}