.fullsize {
    width: 100%;
    height: 100%;
}

.no-items-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.no-items-text {
    margin-top: 20px;
    margin-bottom: 10px;
}

.filler-img {
    max-width: 65%; 
    max-height: 65%;
}